# Importing Libraries + Setting Path + Importing dataset.

In [52]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
path = r'C:\Users\Chaot\Python stuff\06 - Utah Real Estate Housing Prices'

In [53]:
og_cities = pd.read_csv(os.path.join(path, 'Data Brief + Data Sets', 'Utah Housing Datasets', 'Consolidated Cities.csv'), index_col = False)
pd.set_option('display.max_columns',100)
og_cities.head(10)

,zpid,streetName,city,state,zipcode,latitude,longitude,price,bathrooms,bedrooms,livingArea,homeType,homeStatus,daysOnZillow,zestimate,rentZestimate,isPreforeclosureAuction,isZillowOwned,currency,country,taxAssessedValue,lotAreaValue,lotAreaUnit,is_newHome,newConstructionType,datePriceChanged,priceReduction,priceChange,is_openHouse,openHouse,open_house_showing,imgSrc,homeDetailUrl,price_to_rent_ratio
0,2072348967,1108 E Elgin Ave S,Salt Lake City,UT,84106,40.705242,-111.859470,849000.0,2.0,3.0,2598.0,SINGLE_FAMILY,FOR_SALE,-1,NaN,1699.0,False,False,USD,USA,NaN,10018.8,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/8c410eb3577...,https://www.zillow.com/homedetails/1108-E-Elgi...,NaN
1,72632530,6261 W Terrace Ridge Dr,West Valley City,UT,84128,40.675503,-112.040500,799999.0,5.0,5.0,5131.0,SINGLE_FAMILY,FOR_SALE,-1,797800.0,2529.0,False,False,USD,USA,667700.0,10018.8,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/b3209dcacb8...,https://www.zillow.com/homedetails/6261-W-Terr...,315.460656
2,12815101,4329 S Mignon Dr,West Valley City,UT,84120,40.676613,-111.999140,510000.0,2.0,4.0,2072.0,SINGLE_FAMILY,FOR_SALE,-1,521200.0,1912.0,False,False,USD,USA,380400.0,8712.0,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/ea4ff920f6c...,https://www.zillow.com/homedetails/4329-S-Mign...,272.594142
3,12741992,2525 S Lester St,West Valley City,UT,84119,40.715977,-111.935390,379888.0,1.0,3.0,925.0,SINGLE_FAMILY,FOR_SALE,-1,387700.0,1627.0,False,False,USD,USA,299100.0,10018.8,sqft,NaN,NaN,NaN,NaN,NaN,True,Fri. 4-6pm,"[{'open_house_start': 1714172400000, 'open_hou...",https://photos.zillowstatic.com/fp/67b3a1488db...,https://www.zillow.com/homedetails/2525-S-Lest...,238.291334
4,12738716,728 S 900 W,Salt Lake City,UT,84104,40.753315,-111.917320,595000.0,2.0,3.0,2039.0,SINGLE_FAMILY,FOR_SALE,-1,613200.0,1814.0,False,False,USD,USA,345300.0,6969.6,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/f7a98e01be2...,https://www.zillow.com/homedetails/728-S-900-W...,338.037486
5,12746447,3170 S 4440 W,West Valley City,UT,84120,40.702606,-111.997475,525000.0,3.0,5.0,2364.0,SINGLE_FAMILY,FOR_SALE,-1,536200.0,2282.0,False,False,USD,USA,368200.0,9147.6,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/0585f5cea3d...,https://www.zillow.com/homedetails/3170-S-4440...,234.969325
6,12720312,380 N K St,Salt Lake City,UT,84103,40.778088,-111.868290,550000.0,1.0,1.0,2157.0,SINGLE_FAMILY,FOR_SALE,-1,565100.0,2139.0,False,False,USD,USA,502800.0,4356.0,sqft,NaN,NaN,NaN,NaN,NaN,True,Sat. 11am-2pm,"[{'open_house_start': 1714240800000, 'open_hou...",https://photos.zillowstatic.com/fp/7ec64c940de...,https://www.zillow.com/homedetails/380-N-K-St-...,264.188873
7,12759236,1113 S 700 E,Salt Lake City,UT,84105,40.744644,-111.870640,725000.0,2.0,3.0,2390.0,SINGLE_FAMILY,FOR_SALE,-1,NaN,2914.0,False,False,USD,USA,568200.0,5227.2,sqft,NaN,NaN,NaN,NaN,NaN,True,Sat. 11am-2pm,"[{'open_house_start': 1714240800000, 'open_hou...",https://photos.zillowstatic.com/fp/fd369d87c66...,https://www.zillow.com/homedetails/1113-S-700-...,NaN
8,12713019,887 N 1500 W,Salt Lake City,UT,84116,40.788840,-111.933770,464000.0,1.0,3.0,1582.0,SINGLE_FAMILY,FOR_SALE,-1,484900.0,1849.0,False,False,USD,USA,353100.0,7840.8,sqft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://photos.zillowstatic.com/fp/c26bfd56742...,https://www.zillow.com/homedetails/887-N-1500-...,262.249865
9,12768252,1800 E Blaine Ave,Salt Lake City,UT,84108,40.732082,-111.839370,684900.0,2.0,4.0,1772.0,SINGLE_FAMILY,FOR_SALE,-1,701300.0,3165.0,False,False,USD,USA,600400.0,6534.0,sqft,NaN,NaN,NaN,NaN,NaN,True,Sat. 12-2pm,"[{'open_house_start': 1714244400000, 'open_hou...",https://photos.zillowstatic.com/fp/bc5a610dd30...,https://www.zillow.com/homedetails/1800-E-Blai...,221.579779

In [54]:
og_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3922 entries, 0 to 3921
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   zpid                     3922 non-null   int64
 1   streetName               3920 non-null   object
 2   city                     3922 non-null   object
 3   state                    3922 non-null   object
 4   zipcode                  3922 non-null   int64
 5   latitude                 3922 non-null   float64
 6   longitude                3922 non-null   float64
 7   price                    3921 non-null   float64
 8   bathrooms                3912 non-null   float64
 9   bedrooms                 3909 non-null   float64
 10  livingArea               3913 non-null   float64
 11  homeType                 3922 non-null   object
 12  homeStatus               3922 non-null   object
 13  daysOnZillow             3922 non-null   int64
 14  zestimate                3378 non-null   float64
 15  rentZestimate            3572 non-null   float64
 16  isPreforeclosureAuction  3922 non-null   bool
 17  isZillowOwned            3922 non-null   bool
 18  currency                 3922 non-null   object
 19  country                  3922 non-null   object
 20  taxAssessedValue         2420 non-null   float64
 21  lotAreaValue             3795 non-null   float64
 22  lotAreaUnit              3795 non-null   object
 23  is_newHome               646 non-null    object
 24  newConstructionType      646 non-null    object
 25  datePriceChanged         1806 non-null   float64
 26  priceReduction           1358 non-null   object
 27  priceChange              1806 non-null   float64
 28  is_openHouse             265 non-null    object
 29  openHouse                265 non-null    object
 30  open_house_showing       265 non-null    object
 31  imgSrc                   3922 non-null   object
 32  homeDetailUrl            3922 non-null   object
 33  price_to_rent_ratio      3270 non-null   float64
dtypes: bool(2), float64(13), int64(3), object(16)
memory usage: 988.3+ KB

In [55]:
# Dropping these columns. They don't seem relevant to what we need.
og_cities = og_cities.drop(columns = ['homeStatus','isPreforeclosureAuction','daysOnZillow','isZillowOwned',
                                      'lotAreaValue','lotAreaUnit','is_openHouse','openHouse','open_house_showing',
                                      'imgSrc','currency','price_to_rent_ratio','rentZestimate','datePriceChanged', 'streetName',
                                      'priceReduction','priceChange'])
og_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3922 entries, 0 to 3921
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   zpid                 3922 non-null   int64
 1   city                 3922 non-null   object
 2   state                3922 non-null   object
 3   zipcode              3922 non-null   int64
 4   latitude             3922 non-null   float64
 5   longitude            3922 non-null   float64
 6   price                3921 non-null   float64
 7   bathrooms            3912 non-null   float64
 8   bedrooms             3909 non-null   float64
 9   livingArea           3913 non-null   float64
 10  homeType             3922 non-null   object
 11  zestimate            3378 non-null   float64
 12  country              3922 non-null   object
 13  taxAssessedValue     2420 non-null   float64
 14  is_newHome           646 non-null    object
 15  newConstructionType  646 non-null    object
 16  homeDetailUrl        3922 non-null   object
dtypes: float64(8), int64(2), object(7)
memory usage: 521.0+ KB

In [56]:
og_cities.rename(columns = {'livingArea':'living_area',
                           'homeType':'home_type',
                           'taxAssessedValue':'tax_assessed_value',
                           'is_newHome':'new_home',
                           'newConstructionType':'construction_type',
                           'homeDetailUrl':'home_detail_link'}, inplace = True)
og_cities.head(1)

,zpid,city,state,zipcode,latitude,longitude,price,bathrooms,bedrooms,living_area,home_type,zestimate,country,tax_assessed_value,new_home,construction_type,home_detail_link
0,2072348967,Salt Lake City,UT,84106,40.705242,-111.85947,849000.0,2.0,3.0,2598.0,SINGLE_FAMILY,NaN,USA,NaN,NaN,NaN,https://www.zillow.com/homedetails/1108-E-Elgi...

In [57]:
# Noticing that listings have MULTI_FAMILY as a home type aren't very good, removing these rows from the data set.

og_cities = og_cities.drop(og_cities[og_cities['home_type'] == 'MULTI_FAMILY'].index)

og_cities['home_type'].value_counts()

home_type
SINGLE_FAMILY    2691
TOWNHOUSE         689
CONDO             379
Name: count, dtype: int64

In [58]:
og_cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3759 entries, 0 to 3921
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   zpid                3759 non-null   int64
 1   city                3759 non-null   object
 2   state               3759 non-null   object
 3   zipcode             3759 non-null   int64
 4   latitude            3759 non-null   float64
 5   longitude           3759 non-null   float64
 6   price               3759 non-null   float64
 7   bathrooms           3757 non-null   float64
 8   bedrooms            3754 non-null   float64
 9   living_area         3758 non-null   float64
 10  home_type           3759 non-null   object
 11  zestimate           3239 non-null   float64
 12  country             3759 non-null   object
 13  tax_assessed_value  2321 non-null   float64
 14  new_home            632 non-null    object
 15  construction_type   632 non-null    object
 16  home_detail_link    3759 non-null   object
dtypes: float64(8), int64(2), object(7)
memory usage: 528.6+ KB

In [59]:
og_cities.describe()

,zpid,zipcode,latitude,longitude,price,bathrooms,bedrooms,living_area,zestimate,tax_assessed_value
count,3.759000e+03,3759.000000,3759.000000,3759.000000,3.759000e+03,3757.000000,3754.000000,3758.000000,3.239000e+03,2.321000e+03
mean,5.919026e+08,84205.244746,40.166114,-112.039008,1.228509e+06,3.253926,3.898775,3029.600852,1.040819e+06,7.117586e+05
std,8.121951e+08,266.280753,1.206565,0.645351,2.204739e+06,1.493842,1.446767,1854.273967,1.568321e+06,1.051078e+06
min,1.188538e+07,84003.000000,37.000530,-113.649120,1.500000e+05,0.000000,0.000000,1.000000,1.633000e+05,6.900000e+03
25%,6.852338e+07,84043.000000,40.356431,-112.015967,4.753885e+05,2.000000,3.000000,1776.000000,4.665500e+05,3.429000e+05
50%,2.277148e+08,84095.000000,40.545116,-111.888740,6.509000e+05,3.000000,4.000000,2591.000000,6.324000e+05,4.685000e+05
75%,3.482239e+08,84128.000000,40.683752,-111.735850,1.100000e+06,4.000000,5.000000,3865.000000,9.753500e+05,7.350000e+05
max,2.142959e+09,84790.000000,41.764180,-109.519150,5.200000e+07,14.000000,14.000000,17661.000000,2.869490e+07,2.792344e+07

In [60]:
# Checking City values to see if they all match, no capitals or abbreviations.

og_cities['city'].value_counts()

city
Saint George          471
Park City             378
Salt Lake City        334
South Jordan          225
Heber                 225
Lehi                  157
Eagle Mountain        147
Saratoga Springs      125
Ogden                 120
Sandy                 118
Herriman              114
Draper                105
West Jordan            91
Tooele                 88
Provo                  86
American Fork          77
Spanish Fork           77
Orem                   75
Layton                 68
West Valley City       63
Logan                  59
Bountiful              58
Holladay               46
Riverton               43
Murray                 40
Grantsville            37
Springville            36
Cottonwood Heights     33
Kaysville              32
Midvale                31
Magna                  27
Kamas                  22
Taylorsville           21
Providence             19
Vineyard               17
Vernal                 17
Plain City             15
Sundance               11
Millcreek              10
Lake Point             10
Coalville               4
Santa Clara             3
North Salt Lake         3
Benjamin                3
Mapleton                2
Washington              2
West Haven              2
Taylor                  2
Midway                  2
Hideout                 2
Winchester Hills        1
Oakley                  1
Tremonton               1
Hyde Park               1
Centerville             1
Wallsburg               1
Name: count, dtype: int64

In [61]:
# checking to see if there are duplicate listings.

og_cities_dupe = og_cities[og_cities.duplicated()]
og_cities_dupe

Empty DataFrame
Columns: [zpid, city, state, zipcode, latitude, longitude, price, bathrooms, bedrooms, living_area, home_type, zestimate, country, tax_assessed_value, new_home, construction_type, home_detail_link]
Index: []

In [62]:
og_cities.columns

Index(['zpid', 'city', 'state', 'zipcode', 'latitude', 'longitude', 'price',
       'bathrooms', 'bedrooms', 'living_area', 'home_type', 'zestimate',
       'country', 'tax_assessed_value', 'new_home', 'construction_type',
       'home_detail_link'],
      dtype='object')

Some values can't be filled in, for instance, construction type. As these only apply to new_home = true values, they'll have to be left blank. We also can't fill for tax_assessed value, zestimate, living_area, bedrooms, price_reduction and price_change.

In [63]:
og_cities.to_csv(os.path.join(path, 'Data Brief + Data Sets', 'Utah Housing Datasets', 'cleaned_cities.csv'), index = False)